body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8afc5;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #ff7eb4;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #7a173d;
  padding: 20px;
  width: 260px;
}

#display {
  width: 95%;         
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin: 0 auto 15px;  
  display: block;       
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: #fae6e6;
  color: #3b0303;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: #eb3856;
  color: #460a0a;
  cursor: pointer;
  transition: background 0.2s;
}

.equal {
  grid-row: span 2;
  background: #bd003f;
  grid-column: span 3;
  grid-row: span 1;
}

.zero {
  grid-column: span 2;
}
